.container{
    height: 100px;
    width: 100vw;
    background-color: bisque;
    border: 2px solid black;
    display: flex;
    align-items: center;
}
.box{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    animation: move 6s ease-in 0s infinite alternate;
}
@keyframes move {
    0%{
        background-color: blue;
        margin-left:0%;
    }
    25%{
        background-color: brown;
        margin-bottom: 7%;
    }
    50%{
        background-color: aqua;
        margin-top: 10%;
    }
    75%{
        background-color: brown;
        margin-bottom: 10%;
    }
    100%{
        background-color: chartreuse;
        margin-left:100%;
    }
}