.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.box{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}